$main-blue: #1990FF;
$main-green: #1ddb33;
$accent-blue: #00EDFF;
$accent-yellow: #F6FF07;
$background-green: #F0FFF0;
$line-blue: #253C5B;
$font: 'Hind Siliguri', sans-serif;

html {
  font-family: $font;
  color: $line-blue;
  background: rgb(252,255,172);
  background: radial-gradient(circle, rgba(252,255,172,1) 0%, rgba(184,255,224,1) 62%);
  height: 1500px;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

#main-header {
  text-align: center;
  font-size: 50px;
  margin: 60px;
}

#main-header:hover, #cost-header, #save-header {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-around;
}



#form-container {
  float: right;
  width: 24%;
}

form {
  position: absolute;
  margin-left: -40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 500;

    span.error {
      color: rgb(197, 22, 22);
    }
  }
  
  input, select, #interest-container {
    height: 26px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px lightblue;
    font-family: $font;
    font-size: 16px;
    padding-left: 10px;
  }

  input:focus {
    outline: none;
  }

  // hide arrows for number inputs
  // input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  //   -webkit-appearance: none;
  //   margin: 0;
  // }

  // input[type=number] {
  //   -moz-appearance: textfield;
  // }

  #interest-container {
    width: 85px;
    padding-top: 1px;
    padding-bottom: 1px;

    #interest-input {
      width: 60%;
      padding: 0;
      background-color: transparent;
      box-shadow: 0 0 0;
    }
    p {
      display: inline;
    }
  }

  #term-text-input {
    width: 60px;
  }

  select {
    font-family: $font;
    height: 28px;
    margin-left: 5px;
  }

  .go {
    background: transparent;
    border: none;
    color: $main-blue;
    font-size: 20px;
    font-family: $font;
    font-weight: 700;
  }

  #present-value-div, #future-value-div {
    box-sizing: border-box;
    padding-left: 80px;
  }

  #clear-btn {
    background: transparent;
    font-family: $font;
    font-weight: 700;
    font-size: 16px;
    color: $main-blue;
    border: 2px solid $main-blue;
    border-radius: 10px;
    width: 75px;
    padding: 2px;
    margin-top: 20px;
  }

  button:hover {
    cursor: pointer;
  }
}

#charts {
  float: left;
  margin-top: 30px;
  margin-left: 3%;
  width: 74%;
  height: 420px;

  > div {
    float: left;
    width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#graph-container, #pie-container, #info-ul {
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightblue;
  background-color: #ffffff;
}

#pie-container, #info-ul {
  width: 100%;
  height: 48%;
}

#pie {
  margin: 15px;
}

#info-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  li {
    padding-left: 20px;
  }
}

#graph-container {
  float: right;
  width: 60%;
  height: 420px;
  width: 800px;

  #graph {
    margin: 20px;
  }
}

#bar {
  margin-top: 100px;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $main-blue;

  h1 {
    font-size: 50px;
    font-weight: 700;
  }

  ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;

    h2:last-child {
      margin-left: 40px;
    }
  }

  .selected {
    color: $main-green;
    padding-bottom: 4px;
    border-bottom: 3px solid $main-green
  }

}

