$purple: #bb86fc;
$blue: #3700b3;
$teal: #03dac5;
$red: #cf6679;
$font: 'Cairo', sans-serif;

html {
  font-family: $font;
  color: $blue;
  background-color: #000;
}

body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

#link-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  position: absolute; 
  top: 10px;
  right: 0;
}

#main-header {
  text-align: center;
  font-size: 50px;
  margin: 60px;
}

#main-header:hover, #cost-header, #save-header {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
}


#form-container {
  width: 20%;
  margin-left: 50px;

  h1 {
    font-size: 24px;
  }
}

#tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: $purple;

  h2 {
    font-size: 20px;
  }

  h2.not-selected {
    color: #44027a;
  }

  h2:hover {
    cursor: pointer;
  }
}

form {
  color: $teal;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  label {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 500;

    span.error {
      color: $red;
    }
  }
  
  input, select, #interest-container {
    background-color: #000;
    color: $purple;
    border: 1px solid $blue;
    box-shadow: -2px 2px 2px #3141cc;
    border-top: none;
    border-right: none;
    padding: 5px;
    padding-left: 8px;
    font-family: $font;
    font-size: 16px;
  }

  input:focus {
    outline: none;
  }

  #present-value-input, #future-value-input {
    width: 190px;
  }

  #interest-container {
    width: 85px;
    padding-top: 1px;
    padding-bottom: 1px;

    #interest-input {
      width: 60%;
      padding: 0;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    p {
      display: inline;
    }
  }

  #term-text-input {
    width: 60px;
  }

  #btn-container {
    
    #clear-btn, #calculate-btn {
      background: transparent;
      font-family: $font;
      font-weight: 700;
      font-size: 16px;
      color: $red;
      border: none;
      margin-top: 10px;
      width: 50px;
      text-align: left;
      margin-right: 60px;
    }

    #calculate-btn {
      color: $blue;
    }

    
  }

  #display-output {
    padding-top: 10px;
    font-size: 18px;
  }

}

#charts {
  display: flex;
  width: 70%;
  margin-right: 50px;

  #graph-container {
    width: 70%;
    height: 462px;
    border-radius: 7px;
    border: 1px solid #3147fd;
    box-shadow: 0 0 10px #3147fd;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  > div {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    > * {
      height: 200px;
      width: 100%;
      margin-left: 20px;
      border-radius: 7px;
      border: 1px solid #3147fd;
      box-shadow: 0 0 10px #3147fd;
      padding: 20px;
    }
  }
  
}

#info-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
  
  li:first-of-type {
    color: $purple;
  }

  li:last-of-type {
    color: $teal;
  }
}