html {
  font-family: "Cairo", sans-serif;
  color: #3700b3;
  background-color: #000; }

body {
  overflow-x: hidden; }

.hidden {
  display: none; }

#modal-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .8; }

#modal {
  position: absolute;
  background-color: black;
  color: #3700b3;
  height: 70%;
  width: 40%;
  border: 1px solid #3700b3;
  box-shadow: -2px 2px 2px #3141cc;
  margin-left: 30%; }
  #modal > div:first-of-type {
    display: flex;
    justify-content: space-between;
    margin: 0 10px; }
    #modal > div:first-of-type h1 {
      color: #03dac5;
      font-size: 30px;
      margin: 20px 0 0 20px; }
    #modal > div:first-of-type #close-btn {
      font-weight: 700;
      font-size: 40px;
      cursor: pointer;
      color: #cf6679; }
  #modal p {
    font-size: 26px;
    padding: 10px;
    margin: 0 20px; }
  #modal em {
    color: #bb86fc;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    padding: 0 5px; }

#link-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  position: absolute;
  top: 10px;
  right: 0; }

#main-header {
  text-align: center;
  font-size: 50px;
  margin: 60px; }

#main-header:hover, #cost-header, #save-header {
  cursor: pointer; }

main {
  display: flex;
  justify-content: space-between; }

#form-container {
  width: 20%;
  margin-left: 50px; }
  #form-container h1 {
    font-size: 24px; }

#tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #bb86fc; }
  #tabs h2 {
    font-size: 20px; }
  #tabs h2.not-selected {
    color: #44027a; }
  #tabs h2:hover {
    cursor: pointer; }

form {
  color: #03dac5;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  form label {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 500; }
    form label span.error {
      color: #cf6679; }
  form input, form select, form #interest-container {
    background-color: #000;
    color: #bb86fc;
    border: 1px solid #3700b3;
    box-shadow: -2px 2px 2px #3141cc;
    border-top: none;
    border-right: none;
    padding: 5px;
    padding-left: 8px;
    font-family: "Cairo", sans-serif;
    font-size: 16px; }
  form input:focus {
    outline: none; }
  form #present-value-input, form #future-value-input {
    width: 190px; }
  form #interest-container {
    width: 85px;
    padding-top: 1px;
    padding-bottom: 1px; }
    form #interest-container #interest-input {
      width: 60%;
      padding: 0;
      background-color: transparent;
      border: none;
      box-shadow: none; }
    form #interest-container p {
      display: inline; }
  form #term-text-input {
    width: 60px; }
  form #btn-container #clear-btn, form #btn-container #calculate-btn {
    background: transparent;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #cf6679;
    border: none;
    margin-top: 10px;
    width: 50px;
    text-align: left;
    margin-right: 60px; }
  form #btn-container #calculate-btn {
    color: #3700b3; }
  form #display-output {
    padding-top: 10px;
    font-size: 18px; }

#charts {
  display: flex;
  width: 70%;
  margin-right: 50px; }
  #charts #graph-container {
    width: 70%;
    height: 462px;
    border-radius: 7px;
    border: 1px solid #3147fd;
    box-shadow: 0 0 10px #3147fd;
    padding: 20px;
    display: flex;
    align-items: center; }
  #charts > div {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #charts > div > * {
      height: 200px;
      width: 100%;
      margin-left: 20px;
      border-radius: 7px;
      border: 1px solid #3147fd;
      box-shadow: 0 0 10px #3147fd;
      padding: 20px; }

#info-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 700;
  margin: 20px; }
  #info-ul li:first-of-type {
    color: #bb86fc; }
  #info-ul li:last-of-type {
    color: #03dac5; }

/*# sourceMappingURL=style.css.map */
