$main-blue: #1990FF;
$main-green: #1ddb33;
$accent-blue: #00EDFF;
$accent-yellow: #F6FF07;
$background-green: #F0FFF0;
$line-blue: #253C5B;
$font: 'Hind Siliguri', sans-serif;

html {
  font-family: $font;
  color: $line-blue;
  background: rgb(252,255,172);
  background: radial-gradient(circle, rgba(252,255,172,1) 0%, rgba(184,255,224,1) 62%);

}

.hidden {
  display: none;
}

img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

#main-header {
  text-align: center;
  font-size: 50px;
  margin: 50px;
  font-family: 'Architects Daughter', cursive;
}

main {
  display: flex;
  justify-content: space-around;
  height: 1500px;
}

#form-container {
  float: right;
  width: 24%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 20px;

    span.error {
      color: rgb(197, 22, 22);
    }
  }
  
  input, select {
    height: 28px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px lightblue;
    font-family: $font;
    font-size: 18px;
    padding-left: 10px;
  }

  #term-text-input {
    width: 60px;
  }

  select {
    font-family: $font;
  }

  .go {
    background: transparent;
    border: none;
    color: $main-blue;
    font-size: 20px;
    font-family: $font;
  }

  #present-value-div, #future-value-div {
    box-sizing: border-box;
    padding-left: 80px;
  }

  #clear-btn {
    background: transparent;
    font-family: $font;
    font-weight: 700;
    font-size: 16px;
    color: $main-blue;
    border: 2px solid $main-blue;
    border-radius: 10px;
    width: 75px;
    padding: 2px;
    margin-top: 20px;
  }

  button:hover {
    cursor: pointer;
  }
}

#charts {
  float: left;
  margin-top: 30px;
  margin-left: 3%;
  width: 74%;
  height: 420px;

  > div {
    float: left;
    width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#graph-container, #pie-container, #info-ul {
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightblue;
  background-color: #ffffff;
}

#pie-container, #info-ul {
  width: 100%;
  height: 48%;
}

#pie {
  margin: 10px;
}

#info-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  li {
    padding-left: 20px;
  }
}

#graph-container {
  float: right;
  width: 60%;
  height: 420px;
  width: 800px;

  #graph {
    margin: 20px;
  }
}

aside {
  margin: 50px;
}

