html {
  font-family: "Hind Siliguri", sans-serif;
  color: #253C5B;
  background: #fcffac;
  background: radial-gradient(circle, #fcffac 0%, #b8ffe0 62%);
  height: 1450px; }

.hidden {
  display: none; }

.invisible {
  opacity: 0; }

#triangle {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }

#pv-info-box, #fv-info-box {
  position: absolute;
  top: 50%;
  width: 15%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 10px #fff;
  line-height: 1.5;
  text-align: center;
  color: #1ddb33;
  font-weight: 500;
  padding: 5px; }
  #pv-info-box span, #fv-info-box span {
    font-weight: 700; }
  #pv-info-box span:last-of-type, #fv-info-box span:last-of-type {
    color: #1990FF; }

#pv-info-box {
  left: 10%; }

#fv-info-box {
  left: 70%; }

#main-header {
  text-align: center;
  font-size: 50px;
  margin: 60px; }

#main-header:hover, #cost-header, #save-header {
  cursor: pointer; }

main {
  display: flex;
  justify-content: space-around; }

#form-container {
  float: right;
  width: 24%; }

form {
  position: absolute;
  margin-left: -36%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  form label {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 500; }
    form label span.error {
      color: #c51616; }
  form input, form select, form #interest-container {
    height: 26px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px lightblue;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 16px;
    padding-left: 10px; }
  form input:focus {
    outline: none; }
  form #interest-container {
    width: 85px;
    padding-top: 1px;
    padding-bottom: 1px; }
    form #interest-container #interest-input {
      width: 60%;
      padding: 0;
      background-color: transparent;
      box-shadow: 0 0 0; }
    form #interest-container p {
      display: inline; }
  form #term-text-input {
    width: 60px; }
  form select {
    font-family: "Hind Siliguri", sans-serif;
    height: 28px;
    margin-left: 5px; }
  form .submit-btn {
    background: transparent;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #1990FF;
    border: 2px solid #1990FF;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 20px 6px 0; }
  form button:hover {
    cursor: pointer; }

#charts {
  float: left;
  margin-top: 30px;
  margin-left: 3%;
  width: 74%;
  height: 420px; }
  #charts > div {
    float: left;
    width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

section[id$="graph-container"], section[id$="pie-container"], #info-ul {
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightblue;
  background-color: #ffffff; }

section[id$="pie-container"], #info-ul {
  width: 100%;
  height: 48%; }

canvas[id$="pie"] {
  margin: 15px; }

#info-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px; }
  #info-ul li {
    padding-left: 20px; }

section[id$="graph-container"] {
  float: right;
  width: 67%;
  height: auto; }
  section[id$="graph-container"] canvas[id$="graph"] {
    margin: 20px; }

#bar {
  margin-top: 100px;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #1990FF; }
  #bar h1 {
    font-size: 50px;
    font-weight: 700; }
  #bar ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700; }
    #bar ul h2:last-child {
      margin-left: 40px; }
  #bar .selected {
    color: #1ddb33;
    padding-bottom: 4px;
    border-bottom: 3px solid #1ddb33; }

#cost-container .icon-list, #save-container .icon-list {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-evenly;
  height: 680px;
  margin-left: 50px;
  width: 180px; }
  #cost-container .icon-list li, #save-container .icon-list li {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 5px 5px 5px lightblue; }
#cost-container li:hover, #save-container li:hover {
  box-shadow: 5px 5px 15px lightblue;
  cursor: pointer; }
  #cost-container li:hover img:hover, #save-container li:hover img:hover {
    height: 100px;
    width: 100px; }

.cost-container #charts, .save-container #charts {
  float: right; }
  .cost-container #charts > div, .save-container #charts > div {
    float: right; }

#example-graph-container {
  float: left; }

/*# sourceMappingURL=style.css.map */
